<div class="about-section my-5">
  <div class="inner-container shadow">
    <h1>About Us</h1>
    <p class="text">
      Founded in 1992, The Perfume Shop set out with the simple idea of making
      luxury perfume brands accessible to everyone at an affordable price. With
      the first store openings in Birmingham, Belfast & Milton Keynes, The
      Perfume Shop developed a genuine passion for delighting customers with
      expert perfume knowledge and the highest customer service standards which
      remain at the forefront of everything the brand stands for today In 2005
      The Perfume Shop was acquired by the world's largest international health
      and beauty retailer A.S Watson - known in 25 markets, they opened their
      15,000th store in March 2019. Find out more about our history and our
      parent company.
    </p>
    <div class="skills">
      <span>Premium Products</span>
      <span>Fast Delivery</span>
      <span>Fast Secure Payment</span>
    </div>
  </div>
</div>
