.form-signin {
  max-width: 600px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.email,
.pass {
  margin-bottom: 10px;
}
.sub {
  margin-bottom: 50px;
}
.pass {
  margin-top: 40px;
}
.test {
  min-height: 320px;
}
.footerHandleer {
  min-height: 600px;
}
